html{
    font-size:13px;
    font-family: sans-serif;
}
.searchbox{
    width:95%;
    border-radius: 18px !important;
    padding-left: 10px;
    height:30px !important;
    line-height:30px !important;
    border:1px solid lightgray;
}
.body{
    padding:5px;
    width:400px;
    border: 1px solid lightgray;
}
a .fa{
    color:lightgray;
}